/* default font size of body is 16px */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container{
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 background-color: #F8F8F8;
 padding: 2em 0;
 margin-bottom: 5%;
}
@media screen and (max-width: 860px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}
.Title{
    width: 45%;
    text-align: center;
   

}
.Title h1{
    margin: 0;
    font-size: 1.5rem;
    color: #143774;
    font-family: 'Lora', serif;
    font-weight: 400;
    

}
.subtitle{
    margin: 0;
    color: #1792D2;
    font-weight: 700;
    font-size: .75rem;
}
.nav-bar{
    width: 35%;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}
.nav-list-item{
    font-size: .75rem;
    
}
.nav-link{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    transition: 0.7s ease;
    cursor: pointer;
}
.nav-link:hover, .nav-link:focus{
    border: 1px solid #707070;
    color: #1792d2;
    padding: 0.2em 0.5em;
}
#active{
    border-bottom: 1px solid #707070;
    margin-bottom: 2%;
}
#active:hover{
    color: #707070;
}
@media  screen and (max-width: 860px) {
    .Title h1{
        font-size: 1.5rem;
    }
    .nav-list-item{
        font-size: .65rem;
    }
}
@media screen and (max-width: 504px){
    .Title{
        width: 100%;
    }
    .Title h1{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: .6rem;
    }
    .nav-bar{
        width: 100%;
    }
    .nav-list-item{
        font-size: .6rem;
    }
}
@media screen and (max-width: 193px){
    .Title h1{
        font-size: 1.2rem;
    }
    .nav-list-item{
        font-size: .4rem;
    }
}
@media screen and (max-width: 165px){
    .Title h1{
        font-size: 1rem;
    }
    .subtitle{
        font-size: .5rem;
    }
    .nav-list-item{
        font-size: .4rem;
    }

}

.menu{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 860px){
    .menu{
        display: block;
        position: fixed;
        top: 85px;
        left: 47%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .nav-list{
        display: none;
        gap: 0;
        flex-direction: column;
        width: 100px;
        text-align: center;
        padding: 70px;
        
        background-color: bisque;
    
    }
    .nav-list-item{
        margin: 16px auto;
    }
    .nav-list.active{
        display: block;
        position: fixed;
        left: auto;
        top: 90px;
        
    }
  
}
